/* Apply styles to the <body> element */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Apply styles to the <h2> element */
h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

/* Apply styles to the <p> element */
p {
    color: #666;
    text-align: center;
}

/* Apply styles to the <ul> element */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/* Apply styles to the <li> element */
li {
    display: inline;
    margin: 0 10px;
}

/* Apply styles to the <a> element */
a {
    text-decoration: none;
    color: #009688;
}

/* Apply styles to the <a> element when hovered */
a:hover {
    text-decoration: underline;
}

/* Apply styles to the <img> element */
/* Apply styles to the <img> element */
img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%; /* Apply rounded corners to create a circular shape */
    width: 200px; /* Adjust the width of the circular image */
    height: 200px; /* Adjust the height of the circular image */
    overflow: hidden; /* Hide overflow to ensure the image stays within the circular shape */
}

